/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  border-bottom: 1px solid lightgray;
}

.li-containing-div {
  display: flex;
  column-gap: 20px;
}

.li-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.li-card div {
  margin-bottom: 10px;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

#all-stories-list .star,
#favorite-stories-list .star {
  margin-left: 10px;
}

.trash-can {
  margin-left: 10px;
}

.star,
.trash-can {
  cursor: pointer;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  color: green;
}

.story-user {
  display: block;
  color: orange;
}

small {
  margin-bottom: 10px;
}
